.about {
  min-height: 100vh;
  padding: 60px 20px;
 background-color: #b0b2b5;
  text-align: center;
}

.about-text {
  max-width: 700px;
  margin: 20px auto 40px;
  font-size: 1.2rem;
  color: #050000;
}

.about-sections {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.about-box {
 background-color: rgb(5, 104, 185);
  padding: 25px;
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
