.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  text-align: center;
}

.error-title {
  font-size: 6rem;
  color: #0d6efd;
  margin-bottom: 10px;
}

.error-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.error-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}

.error-link:hover {
  background-color: #084298;
}
