.home {
  min-height: 100vh;
background-color: #b0b2b5;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 70px 20px;
}

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature {
  background-color: rgb(5, 104, 185);
  padding: 25px;
  border-radius: 14px;
  width: 260px;
}

.shop-btn {
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 1.1rem;
  background-color: rgb(5, 104, 185);
  color: #0e0d0d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-btn:hover {
  transform: scale(1.05);
}
