.footer {
  margin-top: auto;
  background-color: #0d6efd;
}

.footer-card {
  border: none;
  border-radius: 0;
}

.footer .card-header {
  background-color: #0d6efd;
}

.footer .nav-link {
  color: white;
}

.footer .nav-link.active {
  background-color: white !important;
  color: #0d6efd !important;
}

.footer .card-body {
  background-color: #0b5ed7;
  color: white;
}
